* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: rgb(66, 66, 66);
}

/*
 * Header
 *
 */

.header {
  width: 100%;
  margin: 3rem auto 6rem auto;
}

.header__inner {
  text-align: center;
  margin: auto;
}

.header__title {
  font-size: 4.2rem;
  font-weight: 300;
  color: rgb(33, 33, 33);
}

/*
 * Top level navigation
 */

.nav {
  width: 100%;
  margin-bottom: 3rem;
}

.nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.nav__item {
  width: 20rem;
  font-size: 1.4rem;
}

.nav__item a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

.nav__item a:hover {
  color: rgb(0, 0, 0);
}

/*
 * Jumbotron
 */

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 6rem;
  min-height: 38rem;
  text-align: center;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-color: rgb(45, 62, 80);
}

.hero__inner {
  margin: auto;
  max-width: 80rem;
}

.hero__title {
  font-size: 3.6rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.hero__tagline {
  font-size: 1.8rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
}

/*
 * main
 */

main {
  width: 100%;
}

/*
 * content
 */

.content {
  padding: 3rem 6rem 0;
}

/*
 * headline
 */

.headline {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.headline__figure {
  width: 40%;
}

.headline__figure img {
  width: 100%;
}

.headline__figure figcaption {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(102, 102, 102);
  padding: 1rem 0 0;
}

.headline__content {
  width: 50%;
  margin-left: 3rem;
}

.headline__title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.headline__description {
  line-height: 1.4em;
}

.headline__button {
  font-family: inherit;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(44, 62, 80);
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.headline__button:hover {
  opacity: 0.8;
}

/*
 * latest
 */

.latest {
  margin: auto;
  text-align: center;
}

.latest__label {
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 6rem;
}

/*
 * post
 */

.posts {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  overflow: auto;
}

/*
 * post item
 */

.post-item {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  border-radius: 0.5rem;
  margin-bottom: 6rem;
  overflow: hidden;
}

.post-item__content {
  padding: 1rem 2rem 2rem;
}

.post-item__thumbnail {
  width: 100%;
}

.post-item__date {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(153, 153, 153);
  margin-bottom: 2rem;
}

.post-item__date__author {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.post-item__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: 0.3s opacity;
}

.post-item__title:hover {
  opacity: 0.5;
}

.post-item__title a {
  color: inherit;
  text-decoration: none;
}

.post-item__description {
  font-size: 1.4rem;
  line-height: 1.4em;
}

/*
 * footer
 */

footer {
  width: 100%;
  height: 6rem;
  background-color: rgb(44, 62, 80);
  text-align: center;
  display: flex;
}

footer ul {
  list-style: none;
  margin: auto;
}

footer li {
  display: inline-block;
  margin: 0 2rem;
}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255)
}

@media screen and (max-width: 992px) {
  .headline {
    flex-direction: column;
  }

  .headline__figure {
    width: 100%;
    margin-bottom: 3rem;
  }

  .headline__content {
    width: 100%;
    margin-left: 0;
  }

  .post-item {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .posts {
    flex-direction: column;
  }

  .post-item {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    padding: 0 3rem;
  }

  .content {
    padding: 3rem 3rem 0;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 0 1.5rem;
  }

  .content {
    padding: 3rem 1.5rem 0;
  }
}